body{
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: white
}
/* nabar styling */
.navs{
    font-size: 26px;
    margin-top: 4px;
}
.toggle-bar {
    display: none;
}
.toggle-bar .side-navs{
    display: none;
}
.bar div{
    display: none;
}
.navs a{
    text-decoration-line: none;
    padding-left: 10px;
}
.search-bar{
    padding: 8px;
    display: flex;
}
.search-bar-input{
    width: 15rem;
    font-size: 20px;
    border-radius: 25px;
}
.search-bar-input:focus{
    outline: none;
}
.search-button{
    font-size: 20px;
    border-radius: 25px;

}
.search-button:focus{
    outline: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #EEEEEE;
}
/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .navs{
        display: none;
    }
    .toggle-bar{
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        top: -10px;
        left: 0;
        padding-top: 60px;
        background-color: black;
        transition: 0.5s;
        z-index: 1;
    }
    .toggle-bar .visible {
        display: block;
    }
    .toggle-bar .side-navs .side-nav-link{
        display: block;
        font-size: 25px;
        padding: 8px 8px 8px 32px;
        color: #EEEEEE;
        text-decoration-line: none;
    }
    .toggle-bar .close-btn{
        font-size: 4rem;
        float: right;
        color:#EEEEEE;
        margin-top: -60px;
        padding-right: 20px;
        cursor: pointer;
    }
    .bar div{
        display: flex; 
        width: 32px;
        height: 5px;
        background-color: black;
        margin: 8px auto;
    }
    .bar{
        cursor: pointer;
    }
}

/* end of navbar styling */

/* card styling */
.card-container{
    margin: 0 auto;
}
.card-container .row{
    display: flex;
}
.card-container .row .card{
    border-radius: 5px;
    padding: 8px;
    width: 50%;
    height: 50%;
}
.weather-searches-card-body-inactive{
    display: none;
}
.weather-updates-container{
    border-left: 2px solid #EEEEEE;
}

/* end of card styling */
@media only screen and (max-width: 600px){
    .weather-updates-container{
        display: none;
    }
    .card-container .row .card {
        border-radius: 5px;
        padding: 8px;
        width: 100%;
        height: 100%;
    }
}

.weather-container{
    width: 50%;
    margin:  10px auto;
    font-weight: bold;
}
.weather-container p b{
    font-size:24px;
}
.weather-search-container{
    background-color: #EEEEEE;
    border-radius: 11px;
    font-size: 2.2rem;
    padding-left: 10px;
}
.footer{
    bottom: 0;
    position: fixed;
    background-color: #EEEEEE;
    text-align: center;
    padding: 5px;
    width: 100%;
}
button{
    cursor: pointer;
}